.header{
    width: 100%;
    height: 10vh;
    position: absolute;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;

    font-weight: 400;
   
}
.header__section__page{
    font-size: 24px;
 cursor: pointer;
 text-align: center;
 color: white;
}
/* #header__section__page__characters{
    color: rgb(250, 81, 81);
} */
.header__logo{
    font-size: 32px;
    font-weight: 600;
}
.header__section{
    display: flex;
}
.header__section__page{
    margin: 0 10px;
}
.thema__white__header{
    background-color: rgb(54, 54, 54);
    color: white;
}
.thema__black__header{
    background-color: rgb(54, 54, 54);
    color: rgb(255, 180, 40);
}a{
    text-decoration: none;
    color: white;
}
a:active{
    color: rgb(250, 81, 81);
} 
  @media screen and (max-width:900px){
    .header__section__page{
        font-size: 16px;
    }
    .header__logo{
        font-size: 24px;
    }
  }
  @media screen and (max-width:700px){
    .header{
        padding: 0 10px;
        justify-content: center;
    }
    .header__section__page{
        font-size: 12px;
    
    }
    .header__logo{
        font-size: 16px;
        margin-right: 20px;
    }   
  }
  @media screen and (max-width:500px) {

    .header__logo{
        display: none;
    }  
    .header{
        padding: 0;
     
    }
  }
